html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map_canvas {
    height: 100%
}

.overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #aaa;
    padding: 20px;
    z-index: 5;
}

#search-area {
    right: 40px;
    top: 40px;
    width: 350px;
    padding: 0px;
}

#search-area .panel-heading{
    font-weight: bold;
}

#search-result-area {
    right: 40px;
    top: 205px;
    width: 350px;
    height: 500px;
    overflow: scroll;
    padding: 0px;
    visibility: hidden;
}

#listing {
    left: 40px;
    bottom: 150px;
}

#listing li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.address {
    color: gray;
}

.food-item {
    font-style: italic;
}

#listing li:hover {
    background: #006;
    color: #fff;
}

button {
    background: #006;
    color: #fff;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .85);
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
}

#address-input {
    width: 100%;
}

#keyword-input {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#helper-links {
    position: fixed;
    bottom: 0;
    left: 0;
}
