<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Backbone.GoogleMaps | Example</title>
    <style type="text/css">

    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=false"></script>
    <script type="text/javascript" src="/static/js/lib/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.googlemaps.js"></script>
    <script type="text/javascript" src="/static/js/lib/markermanager.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
</head>

<body>

<script id="infoWindow-template" type="text/html">
    <div><b><%=name %></b></div>
    <div><b>Address:</b> <%=address %></div>
    <div><b>Food items:</b> <%=food_items_str %></div>
</script>

<!--
<div id="search-area" class="overlay">
    <button id="museums">find museums</button>
    <button id="bars">find bars</button>
    <button id="addBtn">add</button>
    <button id="removeBtn">remove</button>
</div>
-->

<div id="map_canvas" style="width:100%; height:100%"></div>

</body>
</html>
